<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="include/admin/adminHeader::html('分类管理')" ></head><!--在include/admin/adminHeader文件名，dom选择器的内容为html('分类管理')-->
<body>

<div th:replace="include/admin/adminNavigator::html" ></div><!--th:include 是加载模板标签中的内容，而th:replace则会替换当前标签为模板中的标签-->
<script>
    $(function(){
        var data4Vue = {
            uri:'categories',//vue用到的数据， uri表示访问哪个地址去获取数据，这里的值是 categories，和 CategoryController.java 相呼应
            beans: [],
            bean: { id: 0, name: ''},
            //pagination:{},
            JsonDataForPagination:[],//为了后台不扩展Page接口，定义一个数据保存。
            file: null
        };

        //ViewModel
        var vue = new Vue({
            el: '#workingArea',//创建Vue对象，el 表示和本页面的 <div id="workingArea" > 元素绑定，data 表示vue 使用上面的data4Vue对象。
            data: data4Vue,
            mounted:function(){
                //加载Vue对象成功之后会调用，成功的时候去调用 list() 函数。
                this.list(0);
            },
            methods: {
                //list 函数使用 data4Vue里的 uri作为地址，然后调用 axios.js 这个 ajax库，进行异步调用。 调用成功之后，把服务端返回的数据，保存在 vue.beans
                list:function(start){
                    var url =  this.uri+ "?start="+start;
                    axios.get(url).then(function(response) {
                        vue.beans = response.data.content;
                        vue.JsonDataForPagination = response.data;
                        console.log(vue.JsonDataForPagination);
                    });
                },
                add: function () {
                    if(!checkEmpty(this.bean.name, "分类名称"))
                        return;
                    if(!checkEmpty(this.file, "分类图片"))
                        return;
                    var url = this.uri;

                    //console.log(url);//categories
                    //axios.js 上传文件要用 formData 这种方式
                    var formData = new FormData();
                    formData.append("image", this.file);
                    formData.append("name", this.bean.name);
                    axios.post(url,formData).then(function(response){
                        vue.list(0);
                        //初始化
                        vue.bean = { id: 0, name: ''};
                        $("#categoryPic").val('');
                        vue.file = null;
                    });
                },
                deleteBean: function (id) {
                    if(!checkDeleteLink())
                        return;
                    var url = this.uri+"/"+id;
                    axios.delete(url).then(function(response){
                        if(0!=response.data.length){
                            //删除后Controller返回NULL
                            alert(response.data);
                        }
                        else{
                            vue.list(0);
                        }
                    });
                },
                //输入框发生改变的时候调用该函数，这样Vue的file变量就有了数据@change="getFile($event)"
                getFile: function (event) {
                    this.file = event.target.files[0];
                },
                jump:function(page){
                    jump(page,vue); //定义在adminHeader.html 中
                },
                jumpByNumber:function(start){
                    jumpByNumber(start,vue);
                }
            }
        });
    });

</script>
<div id="workingArea" >
    <h1 class="label label-info" >分类管理</h1>
    <br>
    <br>
    <div class="listDataTableDiv">
        <table class="table table-striped table-bordered table-hover  table-condensed">
            <thead>
            <tr class="success">
                <th>ID</th>
                <th>图片</th>
                <th>分类名称</th>
                <th>属性管理</th>
                <th>产品管理</th>
                <th>编辑</th>
                <th>删除</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="bean in beans ">
                <td>{{bean.id}}</td>
                <td>
                    <img height="40px"  :src="'img/category/'+bean.id+'.jpg'">
                </td>
                <td>
                    {{bean.name}}
                </td>
                <td>
                    <a :href="'admin_property_list?cid=' + bean.id "><span class="glyphicon glyphicon-th-list"></span></a>
                </td>
                <td>
                    <a :href="'admin_product_list?cid=' + bean.id "><span class="glyphicon glyphicon-shopping-cart"></span></a>
                </td>
                <td>
                    <a :href="'admin_category_edit?id=' + bean.id "><span class="glyphicon glyphicon-edit"></span></a>
                </td>
                <td>
                    <a href="#nowhere"  @click="deleteBean(bean.id)"><span class="   glyphicon glyphicon-trash"></span></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:replace="include/admin/adminPage::html" ></div>
    <div class="panel panel-warning addDiv">
        <div class="panel-heading">新增分类</div>
        <div class="panel-body">
            <table class="addTable">
                <tr>
                    <td>分类名称</td>
                    <td><input  @keyup.enter="add" v-model.trim="bean.name" type="text" class="form-control"></td>
                </tr>
                <tr>
                    <td>分类图片</td>
                    <td>
                        <input id="categoryPic" accept="image/*" type="file" name="image" @change="getFile($event)" />
                    </td>
                </tr>
                <tr class="submitTR">
                    <td colspan="2" align="center">
                        <a href="#nowhere"  @click="add" class="btn btn-success">提交</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div th:replace="include/admin/adminFooter::html" ></div>
</body>
</html>
